$bg-light: #CFD8DC;
$font-default: #607D8B;
$gray-dark: #37474F;
$bg-med-dark: #607D8B;

$red-main: #F44336;
$red-light: #FFCDD2;
$red-med: #EF5350;
$red-dark: #D32F2F;

$teal-main: #009688;
$teal-light: #B2DFDB;
$teal-dark: #00796B;